<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<%- include('welcomemessage') -%>
<center>
<table>
  <tr>
    <th>Select</th>
    <th>Order ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Item name</th>
    <th>Item size</th>
    <th>Price</th>
  </tr>
  <% for (key in orders) { var order = orders[key]; %>
  <tr>
    <td><input type="radio" value=<%= order.id %> name="order_group" value="HTML"></td>
    <td><%= order.id %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.itemName %></td>
    <td><%= order.itemSize %></td>
    <td><%= order.price %></td>
  </tr>
  <% } %>
</table>
</center>
<center>
<br>
<button name="addorder" type="button">Add order</button> <button name="editorder" type="button">Modify order</button> <button name="edititems" type="button">Edit items</button> <button name="deleteorder" type="button">Delete order</button>
</center>


<script type="text/javascript" src="static/scripts/main.js"></script>
</body>
</html>