<% for (key in items) { var item = items[key]; %>
  <tr>
  <% if (typeof order !== 'undefined' && order._item.toString() == item._id.toString()){ %>
    <td><input type="radio" name="order_group" value=<%=item._id%> checked></th>
  <% }else{ %>
    <td><input type="radio" name="order_group" value=<%=item._id%>></th>
  <% } %>
    <td><%=item.itemName%></td>
    <td><%=item.itemSize%></td>
    <td><%=item.price%></td>
  </tr>  
  <% } %>