<% for (key in items) { var item = items[key]; %>
  <tr>
  <% if (typeof order !== 'undefined' && order.itemid == item.itemid){ %>
    <td><input type="radio" name="order_group" value=<%=item.itemid%> checked></th>
  <% }else{ %>
    <td><input type="radio" name="order_group" value=<%=item.itemid%>></th>
  <% } %>
    <td><%=item.itemName%></td>
    <td><%=item.itemSize%></td>
    <td><%=item.price%></td>
  </tr>  
  <% } %>